# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# generated doc and storybook
# Pendant qu'on développe, 
# il peut y avoir différentes versions générées car au moment du commit on pensera pas forcement a génèrer la doc. 
# donc ce serait mieux de ne pas les prendre en compte pour le moment. 
# Solution possible:
# génèrer la documentation au moment du commit avec des outils de CI/CD.

documentation/**
.storybook/**